.root {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1060px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px !important;
    h1 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        font-weight: 400 !important;
        line-height: 30px;
    }

}

.nav {
    display: flex;

}

.headerButton {
    // border: 1px solid #333333 !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 16px !important;
    text-transform: none !important;
}